
@model PetShop.Models.Comment;
@Html.Partial("MenuBar")
<html>
    <head></head>
    <body>

    <div class="big-title"><h1>@ViewBag.Animal.Name</h1></div>
    <div><img src="@ViewBag.Animal.Picture" width="500px" height="400px" /></div>
    <div>Age @ViewBag.Animal.Age</div>
    <div>Category: @ViewBag.Animal.Category.Name</div><h1></h1>
    <p class="center">Description:</p>
    <div>@ViewBag.Animal.Description</div>
    <h1></h1>
    
    <div>@Html.ActionLink("Purchase","Parchuse","Catalog",new{ViewBag.Animal.Id},new{@class="link"})</div>
    
    <h1></h1>
    
    <div class="Comments">Comments: @foreach(var comment in ViewBag.Animal.comments)
        {
        <p class="comment">@comment.CommentText</p>
        }
        @if(ViewBag.Animal.comments.Count==0){<div>there is no comments for this animal</div>}
        </div><h1></h1>
    
       <div class="big-title"><h1><span>Add Comment</span></h1></div>
           <form action="/Catalog/AddComment" method="post">
               
               <div>
                   <input id="comment" name="CommentText" type="text"/>
                   <div>@Html.ValidationMessageFor(c=>c.CommentText)</div>
                   <div><span id="comment-error" class="text-danger"></span></div>
                   <input type="hidden" name="AnimalId" value="@ViewBag.Animal.Id" />                   
               </div>

               <div class="form-group">
                   <input type="submit" value="Create"/>
               </div>
               

           </form>
    </body>
</html>
<style>
    .Comments {
        overflow: scroll
    }
    h1
    {
        text-align:center;
    }

    div {
        text-align: center;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    
</style>
<link rel="stylesheet" href="~/css/StyleSheet.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="~/js/CommentClientSideValidation.js"></script>
